<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/lista-alunos">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="atualizarAluno()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="aluno.nome" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="aluno.email" name="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input [(ngModel)]="aluno.senha" name="senha" type="password"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Atualizar</ion-button>
  </form>
</ion-content>
