<ion-header>
  <ion-toolbar>
    <ion-title>Bem-vindo à Academia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gerenciar Alunos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Gerencie os cadastros dos alunos da academia.</p>
      <!-- Botão para redirecionar para a página de lista de alunos -->
      <ion-button expand="full" routerLink="/lista-alunos">Ver Alunos</ion-button>
      <ion-button expand="full" routerLink="/cadastro">Cadastrar Novo Aluno</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
